body { background: #ed5136; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 35px; display: flex; }
.block-invoice-0 { color: #893684; font-size: 14px; margin-bottom: 5px; }
.block-router-1 { color: #7bca39; font-size: 20px; margin-bottom: 5px; }
.block-session-2 { color: #9f2009; font-size: 17px; margin-bottom: 5px; }
.block-auth-3 { color: #4f0937; font-size: 18px; margin-bottom: 5px; }
.block-cache-4 { color: #a46c38; font-size: 16px; margin-bottom: 5px; }